<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>College mail automation system</title>
    </head>
    <body>
        <form action="/your-name/" method="post">
          <label for="your_name">Your name: </label>
          <input id="your_name" type="text" name="your_name" value="{{ name }}">
          <label for="reg_no">Registration no.: </label>
          <input id="your_name" type="text" name="your_name" value="{{ reg_no }}">
          <label for="email">email: </label>
          <input id="your_name" type="text" name="your_name" value="{{ email }}">
          <input type="submit" value="OK">

        </form>

        </body>
</html>
